.text-apresentacao-js h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: -3px 0px 0px rgba(0, 255, 255, 0.7), 3px 0px 0px rgba(255, 0, 255, 0.7);
  letter-spacing: 2px;
  margin: 0px;
  margin-bottom: 20px;
}